/* You can add global styles to this file, and also import other style files */
body,
body .p-component
{
  margin: 0;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
}

.p-card-header {
  display: flex;
  place-content: center;
}

.primary-text-ciandt {
  color: #fa5a50;
}

.primary-subtext-ciandt {
  color: #fa5a50;
}

.p-card-title, .p-fieldset-legend-label {
  color: #fa5a50;
}

.p-card-title {
  font-size: 16px !important;
}

.p-toolbar {
  background-color: #fa5a50 !important;
}

.p-fieldset-legend-label {
  font-size: 2em;
}

.p-panel-title {
  color: #000050 !important;
}

.p-panel-title {
  font-size: 1.4em;
}

.p-card {
  height: 280px;
  width: 190px;
}

.p-card-title {
  height: 35px;

.block-ui-template {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px;
}

.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: #fa5a50;
  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
  }
}

.p-dialog-content {
  padding: 1rem !important;
}
