/* You can add global styles to this file, and also import other style files */
body,
body .p-component
{
  margin: 0;
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
}

.p-card-header {
  display: flex;
  place-content: center;
}

.primary-text-ciandt {
  color: #fa5a50;
}

.primary-subtext-ciandt {
  color: #fa5a50;
}

.p-card-title, .p-fieldset-legend-label {
  color: #fa5a50;
}

.p-card-title {
  font-size: 16px !important;
}

.p-toolbar {
  background-color: #fa5a50 !important;
}

.p-fieldset-legend-label {
  font-size: 2em;
}

.p-panel-title {
  color: #000050 !important;
}

.p-panel-title {
  font-size: 1.4em;
}

.p-card {
  height: 330px;
  width: 190px;
}

.p-card-title {
  height: 40px;
}
