img:first-child {
  border: 3px solid currentColor;
  color: #fa5a5070;
  object-fit: cover;
}

img:hover {
  cursor: pointer;
  color: #FA5A50;
  transition: color 250ms linear;
}

.count-characters {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
}

.cake-img {
  position: absolute;
  margin-top: 140px;
  margin-left: 141px;
}

.new-img {
  position: absolute;
  margin-left: -118px;
  margin-top: -18px;
  height: 100px;
}
