<p-card>
  <ng-template #header>
    <img class="border-round h-10rem w-10rem" 
    alt="Card" 
    (click)="openProfile(people())" 
    [src]="people()?.badge_photo ?? people()?.picture ?? 'default-avatar.jpg'"/>
  </ng-template>

  <ng-template #title> {{people()?.name | name}} </ng-template>

  <ng-template #subtitle>
    <p class="my-1">{{people()?.login ? people()?.login : '-'}}</p>
    <p class="m-0 count-characters text-bold" [pTooltip]="people()?.primary_skills" style="font-size: 12px;">{{people()?.primary_skills}}</p>
  </ng-template>

</p-card>
