<div class="m-2">
  @for (engagement of engagement; track engagement; let f = $first) {
    <p-fieldset>
      <ng-template #header>
        <div class="flex items-center gap-2 px-2">
            <p-avatar
                image="simbol.png"
                shape="circle" />
            <span class="font-bold p-fieldset-legend-label">{{engagement.name}}</span>
        </div>
      </ng-template>

      @for (team of engagement.teams; track team) {
        <p-panel class="my-2" [header]="team.name">
          <p class="grid flex">
              @for (people of team.people; track people) {
                @defer (on viewport) {
                  <app-dasboard-card class="mx-2 fadeinleft animation-duration-2000 flex-initial flex align-items-center justify-content-center font-bold" [ngClass]="{'fadeinleft animation-duration-1000': f}" [people]="people"></app-dasboard-card>
                } @placeholder {
                  <p>Carregando...</p>
                }
              }
          </p>
      </p-panel>
      }
    </p-fieldset>
  }
</div>