<div class="m-2">
  <div class="flex flex-wrap gap-4 end py-2" style="place-content: center;">
    <div class="flex items-center">
        <p-radiobutton value="team" [(ngModel)]="vision().vision" inputId="team" (ngModelChange)="loadPeople()" />
        <label class="ml-2">Team</label>
    </div>

    <div class="flex items-center">
        <p-radiobutton value="engagement" [(ngModel)]="vision().vision" inputId="engagement" (ngModelChange)="loadPeople()" />
        <label class="ml-2">Engagement</label>
    </div>

    <div class="flex items-center">
        <p-radiobutton value="people" [(ngModel)]="vision().vision" inputId="people" (ngModelChange)="loadPeople()" />
        <label class="ml-2">People</label>
    </div>

    <div class="card flex justify-center">
      <label class="mx-2">Rotate Teams</label>
      <p-toggleswitch [(ngModel)]="vision().rotate_teams" (ngModelChange)="toggleRotateTeams()" />
    </div>
  </div>

  @if (vision().vision === 'engagement') {
    @for (engagement of engagement; track engagement;) {
      <p-fieldset>
        <ng-template #header>
          <div class="flex items-center gap-2 px-2">
              <p-avatar
                  image="simbol.png"
                  shape="circle" />
              <span class="font-bold p-fieldset-legend-label">{{engagement.name}}</span>
          </div>
        </ng-template>

        @for (team of engagement.teams; track team) {
          <p-panel class="my-2" [header]="team.name">
            <p class="grid flex">
                @for (people of team.people; track people) {
                  @defer (on viewport) {
                    <app-dasboard-card [@animation]="team.people" class="mx-2 flex-initial flex align-items-center justify-content-center font-bold" [people]="people"></app-dasboard-card>
                  } @placeholder {
                    <p>Carregando...</p>
                  }
                }
            </p>
        </p-panel>
        }
      </p-fieldset>
    }
  }

  @if (vision().vision === 'team') {
    @for (team of teams; track $index; ; let f = $first) {
      <p-fieldset>
        <ng-template #header>
          <div class="flex items-center gap-2 px-2">
              <p-avatar
                  image="simbol.png"
                  shape="circle" />
              <span class="font-bold p-fieldset-legend-label">{{team.name}}</span>
          </div>
        </ng-template>

        <p class="grid flex">
            @for (people of team.people; track people) {
              @defer (on viewport) {
                <app-dasboard-card [@animation]="team.people" class="mx-2 flex-initial flex align-items-center justify-content-center font-bold" [people]="people"></app-dasboard-card>
              } @placeholder {
                <p>Carregando...</p>
              }
            }
        </p>
    </p-fieldset>
    }
  }

  @if (vision().vision === 'people') {
    <p class="grid flex">
      @for (person of people; track $index; ; let f = $first) {
        @defer (on viewport) {
          <app-dasboard-card [@animation]="people" class="mx-2 flex-initial flex align-items-center justify-content-center font-bold" [people]="person"></app-dasboard-card>
        } @placeholder {
          <p>Carregando...</p>
        }
      }
    </p>
  }
</div>
